h1{
    color: aqua;
}
img{
    height: 240px;
    width: 240px;
}
#thirdDiv{
    background-color: tomato;
    height: 500px;
    width: 600px;
    padding: 50px;
    border-inline: 5px dashed blue;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}